*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    border-color: rgb(7, 7, 7);
}

body{
    background-image: url(../imagen/edge2.jpg);
    background-size: flex;
    color: rgb(0, 0, 0);
    font-display: unset ;
    align-items: normal;
    flex-direction: column;
    align-content:center  
}

div{
    background-image: url(../imagen/edge1.jpg);
    background-size: flex;
    background-color: rgb(217, 36, 36);
    border: 1px solid rgb(248, 251, 251);
    padding: 150px;
    width: 100%;
    margin-bottom: 0 auto;
}
header{/*main contenier */
    border: 4px solid rgb(255, 255, 255);
    border-radius: 80px;
    margin: 4rem;
    text-align: center;
    background-color: rgb(13, 14, 13);
    padding: 4rem;
}
/*/ nav,section,footer,aside,article*/li{
    border: 5px;
    margin: 2rem;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
}
/*article, aside*/.h1{
width: 30%;
height: 20px;
text-align: center;

}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 90px;
    margin-right: 17px;
    padding-left: 5px;
    float: center;

}
nav,footer,section{
    background-color: rgba(0, 0, 0, 0.505);
    background-image: url(../imagen/cm.jpg);
    background-size: flex;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    border-color: rgb(7, 7, 7);
}